<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/styles/output.css">
</head>
<body class="relative grid grid-cols-[2fr_600px_2fr] grid-rows-[50px_10px_1fr]">
  <%- include('../partials/header') %>
  <div class="flex flex-col items-center col-start-2 col-end-3 gap-2 row-start-3">
    <div class="w-full bg-gray-700 p-6 pb-4 pt-4 rounded-lg">
      <p class="w-full bg-neutral-800 p-4 rounded-full hover:bg-neutral-700 cursor-pointer text-gray-300" id="triggerDialog" title="Click to create post">What's on your mind, <%= user.first_name %>?</p>
    </div>

    <%# Message posts feed %>
    <div class="w-full h-full bg-gray-700 p-6 rounded-lg flex flex-col gap-4 overflow-auto">
      <%- include('posts') %>
    </div>
  </div>

  <%# Add admin panel %>
  <% if (locals.isAdmin) { %>
    <section class="row-start-3 w-[80%] justify-self-center rounded-lg flex flex-col gap-2">
      <div class="bg-gray-700 text-gray-300 rounded-lg p-4 flex justify-between">
        <p>Total users:</p>
        <p><%= users.length%></p>
      </div>
      <div class="bg-gray-700 text-gray-300 rounded-lg p-4 flex justify-between">
        <p>Total posts:</p>
        <p><%= userPosts.length %></p>
      </div>
      <div class="bg-gray-700 text-gray-300 rounded-lg p-4">
        <table class="w-full">
          <caption class="text-lg">Users</caption>
          <tr class="text-left border-b">
            <th>Name</th>
            <th>Username</th>
            <th>Is Member</th>
            <th>Is Admin</th>
          </tr>
          <% users.forEach(user => { %>
           <tr>
            <td class="pb-1"><%= user.first_name %> <%= user.last_name %></td>
            <td><%= user.user_name %></td>
            <% if (user.is_member) { %>
              <td><%= user.is_member %></td>
            <% } else {%>
              <td>false</td>
            <% } %>
            <% if (user.is_admin) { %>
              <td><%= user.is_admin %></td>
            <% } else {%>
              <td>false</td>
            <% } %>
           </tr>
          <% }) %>
        </table>
      </div>
    </section>
    
  <% } %>

  <dialog class="m-auto rounded-lg bg-gray-700 text-neutral-300" id="post">
    <form action="/home/post" method="post" class="flex flex-col p-4 gap-4 items-center">
      <p>Create post</p>
      <hr class="w-full">
      <label for="title" class="w-full">
        <input type="text" name="title" id="title" placeholder="Title" class="p-2 bg-gray-600 text-neutral-300 rounded-lg" required>
      </label>
      <label for="content" class="w-full">
        <textarea name="content" id="content" placeholder="What's on your mind, <%= user.first_name %>?" class="w-full p-2 bg-gray-600 text-neutral-300 rounded-lg"></textarea>
      </label>
      <button type="submit" class="cursor-pointer bg-blue-500 p-2 rounded-lg w-full">Post</button>
      <button id="cancel" class="cursor-pointer p-2 rounded-lg w-full border">Cancel</button>
      <%- include('../errors/error') %>
    </form>
  </dialog>

  <dialog class="m-auto p-4" id="admin">
    <% if (locals.isAdmin) { %>
     <p>You are already an admin</p>
     <button id="closeAdmin" class=" select-none p-1 w-full rounded-lg bg-gray-300 cursor-pointer mt-4">Close</button>
    <% } else {%>
    <form action="/home/becomeAdmin" method="post" class="flex flex-col gap-4">
      <p>Becoming an admin means that you swear to be <br><span class="font-bold">responsible</span> of the authority you desire.</p>
      <div class="flex flex-col gap-2">
        <button type="submit" class="select-none text-gray-300 bg-gray-700 p-2 rounded-lg cursor-pointer">
          Become an Admin
        </button>
        <button id="closeAdmin" class=" select-none p-2 rounded-lg bg-gray-300 cursor-pointer">Close</button>
      </div>
    </form>
    <% } %>
  </dialog>
  <%- include('../partials/footer') %>
  <script>
    // Open a dialog with form for post creation upon clicking
    const dialog = document.querySelector("#post");
    if ("<%= locals.openDialog %>") {
      dialog.showModal();
    } 

    const triggerDialog = document.querySelector("#triggerDialog");
    const cancelBtn = document.querySelector("#cancel");

    triggerDialog.addEventListener("click", () => {
      dialog.showModal();
    })

    cancelBtn.addEventListener("click", () => {
      dialog.close();
    })

    // Become admin dialog
    const adminDialog = document.querySelector("#admin");
    const adminBtn = document.querySelector("#openAdmin");
    const closeAdmin = document.querySelector("#closeAdmin");

    adminBtn.addEventListener("click", () => {
      adminDialog.showModal();
    })

    closeAdmin.addEventListener("click", (e) => {
      e.preventDefault()
      adminDialog.close();
    })
  </script>
</body>
</html>