<% if (locals.userPosts !== null) { %>
 <% userPosts.forEach(post => { %>
  <div class="bg-gray-600 rounded-lg p-4 text-neutral-300 flex flex-col gap-2 relative max-[650px]:p-2 max-[650px]:text-xs">
    <% if (locals.isAdmin) { %>
     <a href="/home/delete/<%= post.post_id %>">
      <img src="/svg/trash.svg" alt="Trash delete ppost icon" title="Delete post" class="w-[30px] absolute right-0 mr-2">
     </a>
    <% } %>
    <% if (locals.isMember) { %>
      <p class="font-semibold"><%= post.first_name %> <%= post.last_name %></p>
    <% } else {%>
      <p class="font-semibold">Anonymous</p>
      <p>Become a member to see who made the posts.</p>
    <% } %>
    <div class="flex flex-col gap-2">
      <hr>
      <p class="italic text-xl  "><%= post.title %></p>
      <p class="h-fit pt-2 break-words text-lg"><%= post.content %></p>
      <hr>
    </div>
    <% if (locals.isMember) { %>
      <p>Added on <%= post.date_added %></p>
    <% } else {%>
      <p>Date added: <span class="italic">secret! become a member first</span></p>
    <% } %>
  </div>
 <% }) %>
<% } else { %>
  <p class="text-center text-neutral-300">No posts yet. Be the first!</p>
<% } %>