<% if (locals.userPosts !== null) { %>
 <% userPosts.forEach(post => { %>
  <div class="bg-gray-600 rounded-lg p-4">
    <p><%= post.first_name %> <%= post.last_name %></p>
    <hr>
    <p><%= post.title %></p>
    <p><%= post.content %></p>
    <hr>
    <p><%= post.date_added %></p>
  </div>
 <% }) %>
<% } else { %>
  <p class="text-center text-neutral-300">No posts yet. Be the first!</p>
<% } %>